* {
    box-sizing: border-box;
}

body {
    background: RGB(230,230,250);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.box {
    height: 100vh;
    width: 100vw;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
