
*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.loading-text {
    font-size: 50px;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url('photo.avif');
    position: absolute;
}
