*{
    box-sitting: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: red;
}

.square {
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    background: blue;
}
