*{
    box-sitting: border-box;
}
body {
    background: red;
    height: 100vh;
    justify-content: center;
    display: flex;
    margin: 0;
}

.square {
    height: 50px;
    width: 50px;
    background: blue;
}
